<div (window:resize)="onResize($event)" class="all-content">
  <div class='navbar' style="justify-content: center">
    <div class="navbar-content" *ngIf="innerWidth >= 1000">
      <a routerLink="/login" class="text-sub-title logo-style clickable">Cornwallia</a>
      <a [href]="loginURL" class="text-mini-header logo-style clickable">Login</a>
    </div>
    <div class="mobile-nav" *ngIf="innerWidth < 1000">
      <a routerLink="/login" class="text-sub-title logo-style clickable">Cornwallia</a>
      <i [matMenuTriggerFor]="loginMenu" class="fa fa-bars bars-style clickable"></i>
    </div>
  </div>
  <div [ngClass]="{'header-area' : innerWidth >= 1100, 'mobile-header-area' : innerWidth < 1100}">
    <div [ngClass]="{'header-container' : innerWidth >= 1100, 'mobile-header-container' : innerWidth < 1100}">
      <div [ngClass]="{'gow-font header-spacing' : innerWidth >= 1100, 'gow-font-mobile header-spacing-mobile' : innerWidth < 1100 }">C</div>
      <div class="header-right">
        <div [ngClass]="{'title-style' : innerWidth >= 1100, ' title-style-mobile' : innerWidth < 1100 }"  class="logo-style">Cornwallia</div>
        <div class="text-section-title logo-style description-style">A Family App Repository</div>
        <a [href]="loginURL" class="clickable logo-style" [ngClass]="{'demo-button': innerWidth >= 1100, 'mobile-demo-button': innerWidth < 1100}">Login</a>
      </div>
      <!-- <div class="header-right"  *ngIf="innerWidth >= 1100">
        <div class="top-apps-container">
          <mini-app-card
            [appName]="'wishes'"
            [title]="'Wishes'"
            [caption]="'Family gift giving portal'"
            class="app1">
          </mini-app-card>
          <mini-app-card
            [appName]="'foodTracker'"
            [title]="'Food Tracker'"
            [caption]="'Manage Food Storage'"
            class="app2">
          </mini-app-card>
        </div>
        <div class="bottom-apps-container">
          <mini-app-card
            [appName]="'calendar'"
            [title]="'Family Calendar'"
            [caption]="'Keep track of family events'"
            class="app3">
          </mini-app-card>
          <mini-app-card
            [appName]="'calendar'"
            [title]="'Family Calendar'"
            [caption]="'Keep track of family events'"
            class="app4">
          </mini-app-card>
        </div>
      </div> -->
    </div>

  </div>
  <div class="description-container">
    <div class="dual-content mt50-spacing">
      <mini-app-card
        [appName]="'wishes'"
        [title]="'Wishes'"
        [caption]="'Family gift giving portal'">
      </mini-app-card>
      <div class="caption-container">
        <div class="logo-style text-sub-title text-color">Family Wish Lists</div>
        <div class="logo-style text-paragraph  text-color">Family gift giving made easier. <br> A planner's delight.</div>
      </div>
    </div>
  </div>
</div>

<mat-menu #loginMenu="matMenu">
  <a [href]="loginURL" mat-menu-item>
    <i class="fas fa-sign-in-alt"></i>
    <span class="mleft-10">Login</span>
  </a>
</mat-menu>
