@import "../../../assets/styles/_colors";
@import "../../../assets/styles/_typography";
@import "../../../assets/styles/_ui-features";
@font-face { font-family: GOW; src: url('../../../assets/fonts/godofwar.TTF'); }

.all-content {
  background-color: $background-gray;
}

.gow-font {
  font-family: GOW;
  color: $offblack;
  font-weight: 600;
  font-size: 250px;
}

.gow-font-mobile {
  font-family: GOW;
  color: $offblack;
  font-weight: 600;
  font-size: 150px;
}

.disp-flex {
  @extend %disp-flex;
}

.title-style {
  font-size: 50px;
  color: $offblack;
  margin-bottom: 10px;
}

.title-style-mobile {
  font-size: 30px;
  color: $offblack;
}

.description-style {
  color: $slate-gray-400;
  margin-bottom: 10px;
}

.navbar-content {
  @extend %disp-flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.login-button-style {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: $white;
  padding: 10px 50px 10px 50px;
}

.header-area {
  @extend %disp-flex;
  height: 300px;
  width: 100%;
  background-color: $white;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $slate-gray-300;
}

.header-container {
  @extend %disp-flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 1050px;
}

.mobile-header-area {
  @extend %disp-flex;
  width: 100%;
  background-color: $white;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.mobile-header-container {
  @extend %disp-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-spacing {
  margin-right: 80px;
}

.header-right {
  @extend %disp-flex;
  flex-direction: column;
}

.demo-button {
  @extend %disp-flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $green;
  padding: 10px 20px 10px 20px;
  max-width: 200px;
  border-radius: 5px;
  font-size: 22px;
}

.mobile-demo-button {
  @extend %disp-flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $green;
  border: 2px solid $green;
  padding: 10px 12px 10px 12px;
  max-width: 150px;
  border-radius: 5px;
  font-size: 15px;
}

.demo-button:hover {
  background-color: $color3;
  transition: 1s;
}

.mobile-demo-button:hover {
  background-color: $color3;
  transition: 1s;
}

.mobile-nav {
  @extend %disp-flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

.description-container {
  @extend %disp-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dual-content {
  @extend %disp-flex;
  justify-content: space-between;
  align-items: center;
  width: 50%
}

.caption-container {
  @extend %disp-flex;
  flex-direction: column;
}

.text-color {
  color: $offblack;
}

.app1 {
  -webkit-animation: fadein 1s ;
  -webkit-animation-delay: 1s;
  animation: fadein 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.app2 {
  -webkit-animation: fadein 1s ;
  -webkit-animation-delay: 2s;
  animation: fadein 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.app3 {
  -webkit-animation: fadein 1s ;
  -webkit-animation-delay: 3s;
  animation: fadein 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.app4 {
  -webkit-animation: fadein 1s ;
  -webkit-animation-delay: 4s;
  animation: fadein 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein { 100% { opacity: 1; } }

@-webkit-keyframes fadein { 100% { opacity: 1; } }

.typing {
  font-size: 40px;
  margin-bottom: 20px;
  // border-right: 1.5px solid $white;
  // animation: blinking .75s infinite;
}

@keyframes blinking { to { border-color: transparent; } }

@-webkit-keyframes blinking { to { border-color: transparent; } }
