<div class="container" (window:resize)="onResize($event)">
  <div [ngClass]="{'content' : innerWidth >= 1400, 'content-mobile' : innerWidth < 1400}" *ngIf="viewMode === 'overall'">
      <div class="label-style text-page-title logo-style">Select A Family</div>
      <div class="card-container">
        <a [routerLink]="['robshari']" (click)="setViewToFamily()">
          <filter-card [title]="'Rob & Shari'" *ngIf="family1Access"></filter-card>
        </a>
        <a [routerLink]="['kylejodi']" (click)="setViewToFamily()">
          <filter-card [title]="'Kyle & Jodi'" *ngIf="family3Access"></filter-card>
        </a>
        <a [routerLink]="['kevinkendal']" (click)="setViewToFamily()">
          <filter-card [title]="'Kevin & Kendal'" *ngIf="family1Access"></filter-card>
        </a>
        <a [routerLink]="['/wishes/landing/wishlist']" (click)="setWishUserID(11)">
          <filter-card [title]="'Drew'" *ngIf="family1Access"></filter-card>
        </a>
        <a [routerLink]="['/wishes/landing/wishlist']" (click)="setWishUserID(12)">
          <filter-card [title]="'Julie'" *ngIf="family2Access"></filter-card>
        </a>
        <a [routerLink]="['troyalison']" (click)="setViewToFamily()">
          <filter-card [title]="'Troy & Allison'" *ngIf="family2Access || family4Access"></filter-card>
        </a>
        <a [routerLink]="['garlinbarbara']" (click)="setViewToFamily()">
          <filter-card [title]="'Garlin & Barbara'" *ngIf="family4Access"></filter-card>
        </a>
      </div>
  </div>
  <div class="content" *ngIf="viewMode === 'family'">
    <router-outlet></router-outlet>
  </div>
</div>
