@import "../../../assets/styles/_colors";
@import "../../../assets/styles/_typography";
@import "../../../assets/styles/_ui-features";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.text-style {
  color: $offblack;
}

.text-area-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.modal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 400px;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.email-gif {
  background-image: url('../../../assets/gifs/email.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

.btn-offblack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding: 10px;
  color: $black;
  background-color: $slate-gray-300;
  border-radius: 5px;
  cursor: pointer;
}

.btn-offblack:hover {
  color: $white;
  background-color: $offblack;
  transition: 0.3s;
}

.x-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* The Close Button */
.x-style {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.x-style:hover,
.x-style:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
