<div class="container">
  <div class="text-style text-section-title logo-style">What would you like access to?</div>
  <textarea class="text-area-style" [(ngModel)]="messageContent"></textarea>
  <div class="button-container">
      <div class="btn-offblack logo-style text-section-title" (click)="sendEmail()">Send</div>
  </div>
</div>

<modal-template [modalID]="'accessEmailSent'">
  <div class="modal-style">
    <div class="x-container">
        <i (click)="modal.closeModal('accessEmailSent')" class="fa fa-times x-style clickable"></i>
    </div>
      <div class="modal-content">
          <div class="email-gif"></div>
          <div class="text-style text-section-title logo-style">Access Request Sent</div>
      </div>
  </div>
</modal-template>
