@import "../../../assets/styles/_colors";
@import "../../../assets/styles/_typography";
@import "../../../assets/styles/_ui-features";

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $slate-gray-100;
  animation: fade 1s;
  -webkit-animation: fade 1s;
}

.lower-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.edit-modal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  border-radius: 5px;
}

.edit-modal-style-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  border-radius: 5px;
}

.add-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-style:valid {
  width: 100%;
  color: $blue;
}

.input-style:invalid {
  width: 100%;
  color: $red;
}

.cancel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $red;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: #c03037;
  transition: 1s;
}

.save-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

.save-button:hover {
  background-color: #00753e;
  transition: 1s;
}

.table {
  border-collapse: collapse;
  width: 1200px;
}

.table-label-style {
  color: $offblack;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.button-text-style {
  color: $white;
  font-size: 20px;
}

.title-style {
  color: $offblack;
}

th {
  font-weight: 600;
}

td, th {
  border: 1px solid $offblack;
  text-align: center;
  padding: 8px 4px 8px 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: $white;
}

i:hover {
  color: $red;
  transition: 0.1s;
}

@keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }

@-webkit-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
