<div class="1star" *ngIf="rating == 1">
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
</div>
<div class="2stars" *ngIf="rating == 2">
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
</div>
<div class="3stars" *ngIf="rating == 3">
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
</div>
<div class="4stars" *ngIf="rating == 4">
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star empty text-paragraph-header"></i>
</div>
<div class="5stars" *ngIf="rating == 5">
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
    <i class="fa fa-star filled text-paragraph-header"></i>
</div>
