<div class="container" (window:resize)="onResize($event)" *ngIf="currentUserID">
  <div class="content" *ngIf="innerWidth >= 1000" >
    <div class="left-content">
        <div class="title-container">
          <div class="title-style text-page-title logo-style">{{wishListUserName}}'s Wishes</div>
        </div>
        <div class="active-wishes-container" *ngIf="currentUserID == wishListUserID">
          <div class="title-style text-sub-title logo-style">My Active Wishes</div>
          <div class="adding-buttons-container">
            <div class="add-button clickable" (click)="openAddWishDialog()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-plus button-text-style"></i>
              <pre class="button-text-style logo-style">  Add A Wish</pre>
            </div>
            <!-- <div class="import-button clickable" (click)="onImportWishesClick()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-cloud-download-alt button-text-style"></i>
              <pre class="button-text-style logo-style">  Import Wishes</pre>
            </div> -->
          </div>
          <wish-card [wishCardId]="'myActiveWishes'" [wishes]="myWishes" [currentUser]="currentUserID" *ngIf="myWishesPresent"></wish-card>
          <div *ngIf="!myWishesPresent" class="none-style text-section-title logo-style">
            No Active Wishes
          </div>
        </div>
        <div class="active-wishes-container" *ngIf="currentUserID == wishListUserID">
          <div class="title-style text-sub-title logo-style">My Reserved Wishes</div>
          <wish-card [wishCardId]="'myReservedWishes'" [wishes]="myReservedWishes" [currentUser]="currentUserID" *ngIf="myReservedWishesPresent"></wish-card>
          <div *ngIf="!myReservedWishesPresent" class="none-style text-section-title logo-style">
            No Reserved Wishes
          </div>
        </div>
        <div class="active-wishes-container" *ngIf="currentUserID !== wishListUserID">
          <div class="title-style text-sub-title logo-style">Active Wishes</div>
          <div class="adding-buttons-container">
            <div class="add-button clickable" (click)="openAddWishDialog()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-plus button-text-style"></i>
              <pre class="button-text-style logo-style">  Add A Wish</pre>
            </div>
            <!-- <div class="import-button clickable" (click)="onImportWishesClick()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-cloud-download-alt button-text-style"></i>
              <pre class="button-text-style logo-style">  Import Wishes</pre>
            </div> -->
          </div>
          <wish-card [wishCardId]="'activeWishes'" [wishes]="activeWishes" [currentUser]="currentUserID" *ngIf="activeWishesPresent"></wish-card>
          <div *ngIf="!activeWishesPresent" class="none-style text-section-title logo-style">
            No Active Wishes
          </div>
        </div>
        <div class="reserved-wishes-container" *ngIf="currentUserID !== wishListUserID">
          <div class="title-style text-sub-title logo-style">Reserved Wishes</div>
          <wish-card [wishCardId]="'reservedWishes'" [wishes]="reservedWishes" [currentUser]="currentUserID" *ngIf="reservedWishesPresent"></wish-card>
          <div *ngIf="!reservedWishesPresent" class="none-style text-section-title logo-style">
            No Reserved Wishes
          </div>
        </div>
    </div>
    <div class="right-content">
      <div class="title-container">
        <pre class="title-style text-page-title logo-style"> </pre>
      </div>
      <div class="bio-container">
        <div class="bio-top-content">
            <div class="title-style text-sub-title logo-style">About me</div>
            <div class="bio-edit-button clickable" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1" (click)="onBioEditClick()">
                <i class="fas fa-pencil-alt button-text-style"> </i>
            </div>
        </div>

          <div [innerHTML]="wishListUserBio"></div>
      </div>
    </div>
  </div>




  <div class="content-mobile" *ngIf="innerWidth < 1000">
    <div class="title-container">
      <div class="title-style text-sub-title logo-style">{{wishListUserName}}'s Wishes</div>
    </div>
    <div class="active-wishes-container margin-b-10" *ngIf="currentUserID == wishListUserID">
      <div class="active-wishes-top-row-mobile">
          <div class="title-style text-sub-title logo-style">My Active Wishes</div>
          <div class="adding-buttons-container">
            <div class="add-button-mobile clickable" (click)="openAddWishDialog()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-plus button-text-style"></i>
            </div>
            <!-- <div class="import-button-mobile clickable" (click)="onImportWishesClick()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
              <i class="fa fa-cloud-download-alt button-text-style"></i>
            </div> -->
          </div>
      </div>
      <wish-card [wishes]="myWishes" [currentUser]="currentUserID" *ngIf="myWishesPresent"></wish-card>
      <div *ngIf="!myWishesPresent" class="none-style text-section-title logo-style">
        No Active Wishes
      </div>
    </div>
    <div class="active-wishes-container margin-b-10" *ngIf="currentUserID == wishListUserID">
      <div class="active-wishes-top-row-mobile">
          <div class="title-style text-sub-title logo-style">My Reserved Wishes</div>
      </div>
      <wish-card [wishes]="myReservedWishes" [currentUser]="currentUserID" *ngIf="myReservedWishesPresent"></wish-card>
      <div *ngIf="!myReservedWishesPresent" class="none-style text-section-title logo-style">
        No Reserved Wishes
      </div>
    </div>
    <div class="active-wishes-container margin-b-10" *ngIf="currentUserID !== wishListUserID">
      <div class="active-wishes-top-row-mobile">
        <div class="title-style text-sub-title logo-style">Active Wishes</div>
        <div class="adding-buttons-container">
          <div class="add-button-mobile clickable" (click)="openAddWishDialog()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
            <i class="fa fa-plus button-text-style"></i>
          </div>
          <!-- <div class="import-button-mobile clickable" (click)="onImportWishesClick()" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1">
            <i class="fa fa-cloud-download-alt button-text-style"></i>
          </div> -->
        </div>
      </div>
      <wish-card [wishes]="activeWishes" [currentUser]="currentUserID" *ngIf="activeWishesPresent"></wish-card>
      <div *ngIf="!activeWishesPresent" class="none-style text-section-title logo-style">
        No Active Wishes
      </div>
    </div>
    <div class="reserved-wishes-container margin-b-10" *ngIf="currentUserID !== wishListUserID">
      <div class="title-style text-sub-title logo-style">Reserved Wishes</div>
      <wish-card [wishes]="reservedWishes" [currentUser]="currentUserID" *ngIf="reservedWishesPresent"></wish-card>
      <div *ngIf="!reservedWishesPresent" class="none-style text-section-title logo-style">
        No Reserved Wishes
      </div>
     </div>
     <div class="bio-container-mobile">
        <div class="bio-top-content">
          <div class="title-style text-sub-title logo-style">About me</div>
          <div class="bio-edit-button clickable" *ngIf="currentUserID === wishListUserID || parentUserIdsContains !== -1" (click)="onBioEditClick()">
              <i class="fas fa-pencil-alt button-text-style"> </i>
          </div>
        </div>

        <div [innerHTML]="wishListUserBio"></div>
    </div>
  </div>
</div>

<modal-template [modalID]="'addWish'">
  <div [ngClass]="{'modal-style' : innerWidth >= 1000, 'modal-style-mobile' : innerWidth < 1000}">
    <div class="add-title-container">
        <div class="title-style text-sub-title logo-style">Add A Wish</div>
    </div>
    <mat-form-field class="input-style">
        <input matInput placeholder="Title" [(ngModel)]="title" required>
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput type="number" step="0.01" placeholder="Cost (XXX.XX)" [(ngModel)]="cost" required>
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput placeholder="Link (Optional)" [(ngModel)]="link">
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput placeholder="Description (Optional)" [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput type="number" step="1" placeholder="Rating (1-5)" [(ngModel)]="rating" required>
    </mat-form-field>
    <div class="add-title-container">
      <div class="cancel-button clickable" (click)="cancelAddWishDialog()">
        <i class="fa fa-times button-text-style"></i>
        <pre class="button-text-style logo-style"> Cancel</pre>
      </div>
      <div class="save-button clickable" (click)="saveAddedWish()">
          <i class="fa fa-check button-text-style"></i>
          <pre class="button-text-style logo-style"> Save</pre>
        </div>
    </div>
  </div>
</modal-template>

<modal-template [modalID]="'editBio'">
    <div [ngClass]="{'modal-style' : innerWidth >= 1000, 'modal-style-mobile' : innerWidth < 1000}">
        <div class="add-title-container">
            <div class="title-style text-sub-title logo-style">Edit About Me</div>
        </div>
        <textarea placeholder="About Me" [(ngModel)]="wishListUserBio" class="white-space: pre-wrap;" required></textarea>
        <div class="add-title-container">
          <div class="cancel-button clickable" (click)="cancelBioEdit()">
            <i class="fa fa-times button-text-style"></i>
            <pre class="button-text-style logo-style"> Cancel</pre>
          </div>
          <div class="save-button clickable" (click)="saveBioEdit()">
              <i class="fa fa-check button-text-style"></i>
              <pre class="button-text-style logo-style"> Save</pre>
            </div>
        </div>
      </div>
    </modal-template>

<modal-template [modalID]="'importWishes'">
  <div [ngClass]="{'modal-style' : innerWidth >= 1000, 'modal-style-mobile' : innerWidth < 1000}">
      <div class="add-title-container">
          <div class="title-style text-sub-title logo-style">Import Wishes</div>
      </div>
      <div class="title-style text-sub-title logo-style">Connected Sources:</div>
      <div class="adding-buttons-container">
        <div class="import-button-mobile clickable" (click)="getAmazonWishes()">
          <i class="fab fa-amazon button-text-style"></i>
        </div>
      </div>
      <div class="title-style text-sub-title logo-style">Available Sources:</div>
      <div class="adding-buttons-container">
        <div class="import-button-mobile clickable">
          <i class="fab fa-amazon button-text-style"></i>
        </div>
      </div>
      <div class="add-title-container">
        <div class="cancel-button clickable" (click)="onImportWishesCancel()">
          <i class="fa fa-times button-text-style"></i>
          <pre class="button-text-style logo-style"> Cancel</pre>
        </div>
        <div class="save-button clickable">
          <i class="fas fa-download button-text-style"></i>
          <pre class="button-text-style logo-style"> Import</pre>
        </div>
      </div>
    </div>
  </modal-template>
