@import "../../../../../assets/styles/_colors";
@import "../../../../../assets/styles/_typography";
@import "../../../../../assets/styles/_ui-features";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $slate-gray-100;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid $offblack;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
}

.title-style {
  color: $offblack;
}

.text-style {
  color: $offblack;
  font-weight: 550;
}

.link-style {
  color: $blue;
  font-weight: 550;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.release-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $yellow-orange;
  border-radius: 5px;
  margin-right: 3px;
  padding: 10px;
}

.release-button:hover {
  background-color: #b89c38;
  transition: 1s;
}

.reserve-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  margin-right: 3px;
  padding: 10px;
}

.reserve-button:hover {
  background-color: #00753e;
  transition: 1s;
}

.edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: 5px;
  margin-right: 3px;
  padding: 10px;
}

.edit-button:hover {
  background-color: #0079b2;
  transition: 1s;
}

.delete-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $red;
  border-radius: 5px;
  margin-right: 3px;
  padding: 10px;
}

.delete-button:hover {
  background-color: #a82a30;
  transition: 1s;
}

.button-text-style {
  color: $white;
  font-size: 20px;
}

.delete-modal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.delete-modal-style-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  height: 200px;
  border-radius: 5px;
}

.add-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confirm-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
}

.confirm-button:hover {
  background-color: #00753e;
  transition: 1s;
}

.cancel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $red;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: #c03037;
  transition: 1s;
}

.input-style:valid {
  width: 100%;
  color: $blue;
}

.input-style:invalid {
  width: 100%;
  color: $red;
}

.save-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

.save-button:hover {
  background-color: #00753e;
  transition: 1s;
}

.edit-modal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  border-radius: 5px;
}

.edit-modal-style-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  border-radius: 5px;
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  width: 100%;
  margin-bottom: 20px;
}

.modal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  border-radius: 5px;
}

.modal-style-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  border-radius: 5px;
}
