<div *ngFor="let wish of wishes" (window:resize)="onResize($event)" id={{wishCardId}}>
  <div class="container">
    <div class="top-content">
      <div class="title-style text-sub-title logo-style" *ngIf="innerWidth >= 1000">{{wish.titledsc}}</div>
      <div class="title-style text-paragraph-header logo-style" *ngIf="innerWidth < 1000">{{wish.titledsc}}</div>
      <div class="button-container" *ngIf="innerWidth >= 1000">
        <div class="release-button button-container clickable" *ngIf="currentUser !== wish.userid && wish.reservedflg == 1 && currentUser === wish.reserveduserid" (click)="onReleaseClick(wish.wishid, wish.userid)">
          <i class="fa fa-times button-text-style"></i>
          <pre class="button-text-style logo-style"> Release</pre>
        </div>
        <div class="text-style text-paragraph logo-style" *ngIf="currentUser !== wish.userid && wish.reservedflg == 1  && currentUser !== wish.reserveduserid">
          This wish is reserved <br>
          <div class="link-style text-paragraph logo-style clickable" (click)="onContactClick(wish.firstnameval, wish.titledsc, wish.reserveduserid)">Email Reserver</div>
        </div>
        <div class="reserve-button button-container clickable" *ngIf="currentUser !== wish.userid && wish.reservedflg !== 1 " (click)="onReserveClick(wish.wishid, wish.userid)">
            <i class="fa fa-tag button-text-style"></i>
            <pre class="button-text-style logo-style"> Reserve</pre>
        </div>
        <div class="edit-button button-container clickable" *ngIf="currentUser === wish.userid || currentUser == wish.parent1wishesuserid || currentUser == wish.parent2wishesuserid" (click)="onEditClick(wish.titledsc, wish.costamt, wish.linktxt, wish.descriptiondsc, wish.ratingnbr, wish.wishid, wish.userid)">
            <i class="fas fa-pencil-alt button-text-style"> </i>
        </div>
        <div class="delete-button button-container clickable" *ngIf="currentUser === wish.userid || currentUser == wish.parent1wishesuserid || currentUser == wish.parent2wishesuserid" (click)="onDeleteClick(wish.wishid, wish.userid)">
            <i class="fa fa-trash button-text-style"> </i>
        </div>
      </div>
      <div *ngIf="innerWidth < 1000">
        <div class="text-style text-paragraph logo-style" *ngIf="currentUser !== wish.userid && wish.reservedflg == 1  && currentUser !== wish.reserveduserid" else regularMenu>
          This wish is reserved <br>
          <div class="link-style text-paragraph logo-style clickable" (click)="onContactClick(wish.firstnameval, wish.titledsc, wish.reserveduserid)">Email Reserver</div>
        </div>
        <div #regularMenu>
          <i [matMenuTriggerFor]="wishCardOptions" class="fa fa-caret-down title-style text-sub-title clickable"></i>
          <mat-menu #wishCardOptions="matMenu">
              <div mat-menu-item class="title-style text-section-title logo-style" *ngIf="currentUser !== wish.userid && wish.reservedflg !== 1 " (click)="onReserveClick(wish.wishid, wish.userid)">Reserve</div>
              <div mat-menu-item class="title-style text-section-title logo-style" *ngIf="currentUser !== wish.userid && wish.reservedflg == 1 && currentUser === wish.reserveduserid" (click)="onReleaseClick(wish.wishid, wish.userid)">Release</div>
              <div mat-menu-item class="title-style text-section-title logo-style" *ngIf="currentUser === wish.userid || currentUser == wish.parent1wishesuserid || currentUser == wish.parent2wishesuserid" (click)="onEditClick(wish.titledsc, wish.costamt, wish.linktxt, wish.descriptiondsc, wish.ratingnbr, wish.wishid, wish.userid)">Edit</div>
              <div mat-menu-item class="title-style text-section-title logo-style" *ngIf="currentUser === wish.userid || currentUser == wish.parent1wishesuserid || currentUser == wish.parent2wishesuserid" (click)="onDeleteClick(wish.wishid, wish.userid)">Delete</div>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="title-style logo-style" *ngIf="currentUser === wish.reserveduserid && wish.reservedflg == 1 && currentUser === wish.reserveduserid">Reserved For: {{wish.firstnameval}}</div>
    <div class="middle-content">
      <rating [rating]="wish.ratingnbr" [wishId]="wish.wishid.toString()"></rating>
      <pre class="text-style text-paragraph logo-style"> | {{ wish.costamt | currency:'USD':'symbol' }} | </pre>
      <a href={{wish.linktxt}} target="_blank" class="link-style text-paragraph logo-style clickable" *ngIf="wish.linktxt !== ''">Link</a>
      <div class="text-style text-paragraph logo-style" *ngIf="wish.linktxt == ''">No Link</div>
    </div>
    <div class="text-style text-paragraph logo-style">
      {{wish.descriptiondsc}}
    </div>
  </div>
</div>

<modal-template [modalID]="'deleteConfirm'">
  <div [ngClass]="{'delete-modal-style' : innerWidth >= 1000, 'delete-modal-style-mobile' : innerWidth < 1000}">
    <div class="add-title-container">
        <div class="title-style text-sub-title logo-style">Are you sure?</div>
    </div>
    <div class="add-title-container">
      <div class="cancel-button clickable" (click)="cancelDeleteWish()">
        <i class="fa fa-times button-text-style"></i>
        <pre class="button-text-style logo-style"> Cancel</pre>
      </div>
      <div class="confirm-button clickable" (click)="confirmDeleteWish()">
          <i class="fa fa-check button-text-style"></i>
          <pre class="button-text-style logo-style"> Confirm</pre>
        </div>
    </div>
  </div>
</modal-template>

<modal-template [modalID]="'editWish'">
  <div [ngClass]="{'edit-modal-style' : innerWidth >= 1000, 'edit-modal-style-mobile' : innerWidth < 1000}">
    <div class="add-title-container">
        <div class="title-style text-sub-title logo-style">Edit Wish</div>
    </div>
    <mat-form-field class="input-style">
        <input matInput placeholder="Title" [(ngModel)]="title" required>
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput type="number" step="0.01" placeholder="Cost (XXX.XX)" [(ngModel)]="price" required>
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput placeholder="Link (Optional)" [(ngModel)]="link">
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput placeholder="Description (Optional)" [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field class="input-style">
        <input matInput type="number" step="1" placeholder="Rating (1-5)" [(ngModel)]="rating" required>
    </mat-form-field>
    <div class="add-title-container">
      <div class="cancel-button clickable" (click)="cancelEditWish()">
        <i class="fa fa-times button-text-style"></i>
        <pre class="button-text-style logo-style"> Cancel</pre>
      </div>
      <div class="save-button clickable" (click)="saveEditedWish(title, price, link, description, rating, wishId, wishUserId)">
          <i class="fa fa-check button-text-style"></i>
          <pre class="button-text-style logo-style"> Save Updates</pre>
        </div>
    </div>
  </div>
</modal-template>

<modal-template [modalID]="'contactReserver'">
  <div [ngClass]="{'modal-style' : innerWidth >= 1000, 'modal-style-mobile' : innerWidth < 1000}">
      <div class="add-title-container">
          <div class="title-style text-sub-title logo-style">Compose Message to Reserver</div>
      </div>
      <textarea placeholder="Message" [(ngModel)]="contactMessage" class="white-space: pre-wrap;" required></textarea>
      <div class="add-title-container">
        <div class="cancel-button clickable" (click)="cancelContactClick()">
          <i class="fa fa-times button-text-style"></i>
          <pre class="button-text-style logo-style"> Cancel</pre>
        </div>
        <div class="save-button clickable" (click)="sendContact()">
            <i class="fas fa-envelope button-text-style"></i>
            <pre class="button-text-style logo-style"> Send</pre>
          </div>
      </div>
    </div>
  </modal-template>
